.DS_Store
.vscode/
.venv/
__pycache__/
*.pyc

webapp/node_modules/
webapp/dist/
webapp/public/data/superstore_clean.csv
*.tsbuildinfo
webapp/**/*.d.ts
!webapp/src/vite-env.d.ts
webapp/tailwind.config.js
webapp/vite.config.js

.env
.env.*
!.env.example
.storage/
backend/.storage/